@page
@using Copernicus_Weather.Models
@model Copernicus_Weather.Pages.ApodFavoritesModel

@{
    ViewData["Title"] = "ApodFavorites";
}

<div class="text-center">
    <h1 class="display-4">ApodFavorites</h1>
</div>

<div class="flex-container">
    @foreach (Apod apod in Model.ApodList)
    {
        <div class="card flex-item" style="width: 18rem;">
            <a href="@(apod.LocalHdUrl)" class="image-container">
                <img class="card-img-top opacity" src="@(apod.LocalSdUrl)" alt="Astronomy Picture of the Day">
                <p class="hidden center">Show HD Image</p>
            </a>
            <div class="card-body">
                <h5 class="card-title">@(apod.Title)</h5>
                <p class="card-text description-max-height">@(apod.Explanation)</p>
                <a href="@(apod.LocalHdUrl)" download class="btn btn-primary">Download HD Image</a>
                <button type="submit" class="btn btn-danger"></button>
            </div>
        </div>
    }
</div>